<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Would you like to view data or view graph?</h1>
        <h1>
            <h2>View Data:</h2>
            <form method="POST" action="/">
                <input type="submit" name="submit_button" value="Do Something">
                <input type="submit" name="submit_button" value="Do Something Else">
            </form>
        </h1>
        </h1>
    </body>
</html>