<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main Page</title>
    </head>
    <body bgcolor="#51B5E0">
        <h1>eBay Sales Grapher</h1>
        <h5>Steps:</h5>
        <h5>1. Navigate to eBay.com</h5>
        <h5>2. Search for your desired item, apply any criteria on the left hand side</h5>
        <h5>3. Click the 'Sold Items' Criteria</h5>
        <h5>4. Paste the link below</h5>
        <h5>5. ...</h5>
        <h5>6. Profit?</h5>
        <h5>Note: Each bar represents a day</h5>
        <form method="POST" action="/">
            <input type="url" name="boxplot" value="Make Box Plot">
            <input type="submit">
        </form>
    </body>
</html>